<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588897717081-k7arit4nhrjv30vccojp90r77ivfjhte.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588897717081-k7arit4nhrjv30vccojp90r77ivfjhte</string>
	<key>API_KEY</key>
	<string>AIzaSyB1cz53JV_g4hYpSRnxMFcPC3ehvHhj2ho</string>
	<key>GCM_SENDER_ID</key>
	<string>588897717081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dcarcacha.PesoBlueMVVM</string>
	<key>PROJECT_ID</key>
	<string>pesoblu</string>
	<key>STORAGE_BUCKET</key>
	<string>pesoblu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588897717081:ios:52b233c3c5a1cdf7159a48</string>
</dict>
</plist>