<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.588897717081-cbpf1ngd4souk090lomti20agligugar</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>588897717081-cbpf1ngd4souk090lomti20agligugar.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
        <array>
                <string>instagram</string>
        </array>
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>We use your location to provide localized currency information.</string>
        <key>UIApplicationSceneManifest</key>
        <dict>
                <key>UIApplicationSupportsMultipleScenes</key>
                <false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
